{% extends 'main_page.html' %}
{% block content %}
    <a href="{% url 'create_new_note' %}">Create New</a>
    <h1>Нотатки</h1>

    <section>
        <h2>Мої нотатки:</h2>
        <ul class="important_information">
            {% for note in notes %}
            <li>{{ note.title }} - {{ note.text }}</li>
        {% endfor %}
         <form method="post">
    {%  csrf_token %}
        {{ form.as_div }}
    <button type="submit">Видалити</button>
    </form>
        </ul>
    </section>
{% endblock %}
</body>
</html>
